@(lang: Lang, proxy: org.apache.mailet.MailAddress, hash: String)

    @simple_email(lang, Messages("proxy_created_email.title")(lang)) {
        <p>@Html(Messages("proxy_created_email.intro", proxy)(lang))</p>
        @defining(Messages("proxy_created_email.activation_url", proxy, hash)(lang)) { url =>
            <p>@button_email(Messages("proxy_created_email.activate")(lang), url)</p>
        }
        <p>@Html(Messages("proxy_created_email.deactivate", proxy, hash)(lang))</p>
        <p>@Html(Messages("proxy_created_email.forget_it")(lang))</p>
        <p>@Html(Messages("proxy_created_email.thanks")(lang))</p>
    }
